//- DATA FORM :: START

-
  var dataFormObj = {
    inputName: {
      classMod: "",
      uniqName: "login_name",
      labelVal: "Name",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Type your name",
      val: ""
    },
    inputEmail: {
      classMod: "",
      uniqName: "login_email",
      labelVal: "Email",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Type your email",
      val: ""
    },
    inputPassword: {
      classMod: "",
      uniqName: "login_password",
      labelVal: "Password",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "Type your password",
      val: ""
    },

    textareaField: {
      classMod: "",
      uniqName: "login_message",
      labelVal: "Message",
      textareaClassMod: "",
      placeholderVal: "Type your message",
      val: ""
    },

    notifyNameMessage : [],
    notifyEmailMessage : [],
    notifyPasswordMessage : [],
    notifyTextareaMessage : ['Error message']
  };

//- DATA FORM :: END