///
/// ADDITIONALLY
/// ===============
%grid {
  width: $d-all;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

///
/// MAIN
/// ===============
.c-grid {
  @extend %grid;
  width: $d-all;
  @include respond(small) {
    max-width: 540px;
  }
  @include respond(medium) {
    max-width: 720px;
  }
  @include respond(large) {
    max-width: 960px;
  }
  @include respond(extra-large) {
    max-width: 1140px;
  }

  &-fluid {
    @extend %grid;
    width: $d-all;
  }
}
