# FOLDER
# ==========
.idea/*
.gulp/*
.cache/*
.sass-cache/*
.tmp/*
_tmp/*
node_modules/*
vendor/*
dest/*

# FILES
# ==========


# EXTENSIONS
# ==========
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
