<!DOCTYPE html>
<html lang="en">
<head>

  @@include('macros/head-meta.html')
  @@include('macros/head-favicon.html')

  <!-- TITLE-->
  <title>ProjectName</title>

  <!-- GOOGLE FONTS -->

  <!-- STYLE -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- end STYLE -->

  @@include('macros/head-script.html')

</head>
<body class="page-home">

  @@include('components/common/header.html')

  <div class="body body--start p-home"></div>

  @@include('components/common/footer.html')

</body>

<!-- SCRIPT :: START-->
<script src="js/vendor.js"></script>
<script src="js/app.js"></script>
<!-- SCRIPT :: END-->

</html>
