//- HAMBURGER
//- ========================

    @param {String} classMod - default 'squeeze', other mod see in style file.

    @example
      +hamburger()

//- ========================
mixin hamburger(classMod)
  .hamburger(
    class!= "hamburger--" + ((classMod) ? classMod : "squeeze")
    role="button"
    hamburger-js
  )
    .hamburger-box
      .hamburger-inner
