// SWIPER :: START

//- Slider main container
.swiper-container

  //- Additional required wrapper
  .swiper-wrapper
    .swiper-slide!= 'Slide 1'
    .swiper-slide!= 'Slide 2'
    .swiper-slide!= 'Slide 3'

  //- If we need pagination
  .swiper-pagination

  //- If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next

  //- If we need scrollbar
  .swiper-scrollbar


// SWIPER :: END