-
  const project = 'Project Name';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '1'
    }, {
      name: 'About',
      href: 'about.html',
      progress: '0'
    }, {
      name: 'Contacts',
      href: 'contacts.html',
      progress: '0'
    }
  ];
